<!DOCTYPE html>
<html lan="en">
    <head>
        <title>Univerisity Search</title>
        <link rel="stylesheet" href="static/styles/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h2>Search Univerities</h2>
        <div class="mb-3">
            <form action="/" method="post">
                <div>
                    <input class="form-control mx-auto w-auto" name="uni_name" type="text" placeholder="Univerisity Name" autofocus autocomplete="off" required>
                    <input class="form-control mx-auto w-auto" name="country" type="text" placeholder="Country name" autofocus autocomplete="off" required>

                </div>
                <div>
                    <a class="badge badge-info" href="/most_searchs">See What other searching</a>
                </div>
                <div>

                    <input class="btn btn-success" type="submit">
                </div>
            </form>
        </div>
    </body>
</html>
